.search-box {
  display: flex;
  .async-select {
    width: 280px;
    &__control--is-focused,
    &__control:hover {
      border-color: var(--primary);
      box-shadow: 0 0 0 0.2rem rgba(25, 25, 112, 0.25);
    }
    &__dropdown-indicator,
    &__indicator-separator {
      display: none;
    }
    .loading-indicator {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      .spinner-border {
        width: 20px;
        height: 20px;
        color: var(--primary);
      }
    }
    &__option {
      background-color: #fff;
      color: #000000;
      &:hover,
      &--is-focused {
        background-color: lightgrey;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 576px) {
  .search-box .async-select {
    width: 500px;
  }
}
