{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@": "./src",
              "@src": "./src",
              "@components": "./src/components"
            }
          }
        ]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@": "./src",
              "@src": "./src",
              "@components": "./src/components"
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@": "./src",
              "@src": "./src",
              "@components": "./src/components"
            }
          }
        ]
      ]
    }
  }
}
