.info-page {
  margin: 0 auto;
  padding: 0 40px;
  font-size: 16px;
}

.info-page h1 {
  color: #191970;
  font-size: 20px;
}

.info-page h2 {
  color: #cc9966;
  font-size: 28px;
}

.info-page h3 {
  color: #333333;
  font-size: 16px;
}

.info-page div p {
  text-align: justify;
}
