.history-confirmation {
  width: 100%;
  .card {
    border: none;
    &-header {
      display: flex;
      border: none;
      justify-content: flex-start;
      align-items: center;
      background-color: transparent;
      outline: none;
      font-size: 14px;
      font-weight: 700;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      cursor: pointer;
      img {
        margin: 0 10px 0 0;
        transition: 0.2s transform ease;
      }
      &.active img {
        transform: rotate(-180deg);
        transition: 0.2s transform ease;
      }
    }
    &-body {
      padding: 0;
      ul {
        margin: 0;
        padding: 5px 0 10px;
        list-style-type: none;
        max-height: 250px;
        overflow: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
        li {
          padding: 0 0 0 20px;
          font-size: 14px;
          .author {
            text-decoration: underline;
            margin: 0 0 5px;
          }
          .phase {
            display: inline;
            margin: 0;
            border-radius: 20px;
            background-color: var(--green);
            color: #fff;
            padding: 2px 15px;
            &_1 {
              background-color: var(--green);
            }
            &_2 {
              background-color: var(--orange);
            }
            &_3 {
              background-color: var(--red);
            }
          }
        }
      }
    }
  }
}
