.about-us {
  margin: 0 auto;
  padding: 0 40px;
  font-size: 16px;
  h1 {
    color: #191970;
    font-size: 20px;
  }
  h2 {
    color: #cc9966;
    font-size: 28px;
  }
  h3 {
    color: #333333;
    font-size: 16px;
  }
  div p {
    text-align: justify;
  }
}
