.header {
  font-family: 'Ubuntu', sans-serif;
  &__logo img {
    width: 40px;
    height: 40px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header .title {
    font-size: 2.25em;
  }

  .header .wrapper {
    display: flex
  }
  
  .header .wrapper img {
    display: initial;
    width: 150px;
    margin: 30px;
  }

  .header .banner {
    /* height: 120px;
    max-height: 120px; */

  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
